<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
        body {
            overflow: hidden;
        }

        .sidebar {
            position: fixed;
            top: 12px;
            left: -280px;
            bottom: 0;
            z-index: 100;
            overflow-y: auto;
            width: 280px;
            transition: left 0.5s ease;
        }

        .content {
            padding: 20px;
            overflow-y: auto;
            max-height: calc(100vh - 59px);
        }

        .content-container {
            flex-grow: 1;
            overflow-y: auto;
            margin-left: 0;
            transition: margin-left 0.5s ease;
        }

        @media (min-width: 768px) {
            .sidebar {
                left: 0;
            }

            .content-container {
                margin-left: 280px;
                transition: margin-left 0.5s ease;
            }
        }

        .nav-pills .nav-link {
            margin-bottom: .10rem;
        }

        .nav-pills .nav-link:not(.active):hover {
            background-color: var(--bs-tertiary-bg);
            transition: background-color 0.25s ease;
        }
    </style>


</head>
<body>
    
    <nav class="navbar sticky-top border-bottom shadow shadow-bottom navbar-expand-md bg-body px-2" aria-label="Passito admin navbar">
        <div class="container-fluid">
            <a class="navbar-brand link-body-emphasis fs-4" href="/admin/dashboard">Admin</a>
            <button class="btn sidebar-toggler me-auto ms-md-5 d-md-none">
                <i class="bi bi-list-nested"></i>
            </button>
            <div class="dropdown ms-auto">
                <a class="text-body-emphasis" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi bi-bell me-sm-4 me-4"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end py-0">
                    <div class="card border-0 overflow-auto" style="width: 320px; height: 80%;">
                        <div class="card-header">
                            <p class="small text-uppercase fw-semibold m-0">Notifications</p>
                        </div>
                        <div class="card-body p-2">
                            <div class="list-group overflow-auto">
                                <a href="#" class="list-group-item list-group-item-action border-0 rounded mt-1 shadow-sm" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1"><i class="bi bi-clock-history text-warning me-2"></i>Approve Request</p>
                                        <small>1 hour ago</small>
                                    </div>
                                    <p class="text-wrap small mb-1">Henry has Inititated outpass request!</p>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action border-0 rounded mt-1 shadow-sm" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1"><i class="bi bi-clock-history text-warning me-2"></i>Approve Request</p>
                                        <small>6 hours ago</small>
                                    </div>
                                    <p class="text-wrap small mb-1">John has Inititated outpass request!</p>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action border-0 rounded mt-1 shadow-sm" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1"><i class="bi bi-exclamation-circle text-danger me-2"></i>Pending approvals</p>
                                        <small>1 day ago</small>
                                    </div>
                                    <p class="text-wrap small mb-1">Validate the pending outpass requests!</p>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <a role="button" class="small">Clear all</a>
                                <a role="button" class="small">
                                    <i class="bi bi-check2-all"></i>
                                    Mark as read
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a role="button" class="text-body-emphasis" href="#">
                <i class="bi bi-box-arrow-left me-md-1"></i>
                <span class="d-none d-md-inline-block">Logout</span>
            </a>
        </div>
    </nav>
    
    <div class="d-flex">
        <div class="sidebar mt-5 p-3 bg-body border-end">
            <p class="text-uppercase fw-semibold text-secondary small mb-2 pt-2">Admin Panel</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link rounded-4 active" aria-current="page">
                        <i class="bi bi-speedometer2 me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link rounded-4 text-body">
                        <i class="bi bi-file-text me-2"></i>
                        Generate Reports
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-container">
            <div class="content">
                <div class="container-fluid mb-4">
                    <h4>Dashboard</h4>
                    <hr>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="fs-5">Total Internships</p>
                                    <h5 class="card-title">{{total_internships}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="fs-5">Total Students</p>
                                    <h5 class="card-title">{{total_students}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="fs-5">Active Internships</p>
                                    <h5 class="card-title">{{active_internships}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="fs-5">Completed Internships</p>
                                    <h5 class="card-title">{{completed_internships}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <h4>Analytics</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var toggler = document.querySelector(".sidebar-toggler");
            var sidebar = document.querySelector(".sidebar");
            var contentContainer = document.querySelector(".content-container");

            // Function to handle sidebar toggle
            function toggleSidebar() {
                if (!sidebar.getAttribute('style')) {
                    if (window.innerWidth >= 768) {
                        sidebar.style.left = '-280px';
                    } else {
                        sidebar.style.left = '0px';
                    }
                } else {
                    sidebar.style.left = (sidebar.style.left === '0px' ? '-280px' : '0px');
                }
                if (sidebar.style.left == '-280px') {
                    contentContainer.style.left = '0px';
                }
            }

            // Event listener for sidebar toggler
            toggler.addEventListener("click", function() {
                toggleSidebar();
            });

            // Event listener for window resize
            window.addEventListener("resize", function() {
                if (sidebar.getAttribute('style')) {
                    sidebar.style = null;
                }
            });
        });
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>
