<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InternConnect | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow rounded mt-3" aria-label="Eleventh navbar example">
            <div class="container-fluid">
                <a class="navbar-brand fw-light fs-4 me-auto link-body-emphasis" href="/">
                    <img src="{{ url_for('static', filename='logo.svg') }}" width="38" class="d-inline-block align-text-top">
                    <div class="d-none d-md-inline-block">
                        <span>InternConnect</span>
                    </div>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="navbar-collapse collapse" id="navbarsExample09">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item my-auto me-3">
                            <a class="nav-link" href="#">Link</a>
                        <a role="button" class="btn btn-sm btn-primary">Add Internship</a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link active" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                <img class="img-fluid border border-prime border-2 rounded-circle" src="https://avatars.githubusercontent.com/u/162424612" width="38" height="38">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container my-5">
        <div class="p-5 bg-body-tertiary shadow rounded-3">
            <h3 class="text-body-emphasis">Hello Henry! 👋</h3>
            <p class="fs-4 lead">Welcome back to InternConnect at the SSN Campus, Chennai!
            </p>
        </div>
    </div>

    <div class="container">
        <h3 class="fw-normal fs-4 mt-4">Categories</h3>
        <hr>
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6 mb-3">
                <div class="card custom-card bg-body-tertiary h-100 border shadow-sm">
                    <div class="card-body px-4">
                        <div class="text-center">
                            <h5 class="fw-normal">Add Internship</h5>
                        </div>
                        <a href="/internship/add" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card custom-card bg-body-tertiary h-100 border shadow-sm">
                    <div class="card-body px-4">
                        <div class="text-center">
                            <h5 class="fw-normal">Update Internship</h5>
                        </div>
                        <a href="/internship/update" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card custom-card bg-body-tertiary h-100 border shadow-sm">
                    <div class="card-body px-4">
                        <div class="text-center">
                            <h5 class="fw-normal">Apply OD</h5>
                        </div>
                        <a href="/od/apply" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card custom-card bg-body-tertiary h-100 border shadow-sm">
                    <div class="card-body px-4">
                        <div class="text-center">
                            <h5 class="fw-normal">OD Status</h5>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3 class="fw-normal fs-4 mt-4">Announcements 🎉</h3>
        <hr>
        {% for i in announce %}
        <div class="card bg-body-tertiary shadow rounded-3 mb-3">
            <div class="card-body">
                <h5 class="card-title text-body-emphasis">{{i.title}}</h5>
                <p class="card-text">{{i.content}}</p>
                <a href="#" class="btn btn-sm btn-primary">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="container">
        <footer class="py-3 my-4 border-top">
            <p class="text-center text-body-secondary">©2024 InternConnect | SSN College of Engineering</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>